@{
    ViewBag.Title = "Collection";
}
@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/collection.js"></script>
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <div ng-app="app" ng-controller="Mother" class="Mother">
            <ul class="container">
                <li ng-repeat="kid in kids">
                    <div class="row">
                        <div class="col-md-3">
                            name: <b class="deleted-{{kid.IsDeleted}}" ng-click="ShowKid()" ng-show="!kid.clikd" >{{kid.Name}} </b>
                            <input type="text" ng-show="kid.clikd" my-focus="kid.clikd" ng-blur="HideKid()" ng-model="kid.Name" class="nameInput" />
                        </div>
                        <div class="col-md-3" ng-click="AgeToggle()">age: <b ng-show="!kid.ageClikd">{{kid.Age}}</b> 
                            <input type="text" ng-show="kid.ageClikd" my-focus="kid.ageClikd" my-enter="AgeToggle()" ng-blur="AgeToggle()" ng-model="kid.Age" class="ageInput" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 "></div>
                        <div class="col-md-3 ">
                            <button ng-click="incrementAge()" class="btn">+</button>
                            <button ng-click="decrementAge()" class="btn">-</button>
                            <button ng-click="remove()" class="btn-link">remove</button>
                            <button ng-click="unremove()" ng-show="kid.IsDeleted" class="btn-link">un-remove</button>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="statusBar">Ready</div>
            <form class="form-inline" ng-submit="Add()">
                <fieldset>
                    <legend>Add</legend>
                    <div class="form-group">
                        <label for="newKid">name:</label>
                        <input id="newKid" type="text" ng-model="newKid" placeholder="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="newAge">age:</label>
                        <input type="text" id="newAge" ng-model="newAge" value="1" class="form-control input-sm" />
                    </div>
                    <div>
                        <input type="submit" value="Add" class="btn btn-default" />
                    </div>
                </fieldset>
            </form>
            <br />
            <button ng-click="puke()" class="btn">puke</button>
            <button ng-click="save()" class="btn">save</button>
            <button ng-click="refresh()" class="btn">refresh</button>
        </div>
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>
